django==1.4
South==0.7.4
-e git+https://github.com/nikdoof/eveapi.git#egg=eveapi
-e git://github.com/nikdoof/django-braces.git#egg=django-braces
-e git+https://github.com/disqus/django-modeldict.git#egg=modeldict
