{% extends "base.html" %}

{% block content %}
<h1>Assign Corporation Contact</h1>
<p>Select the username of the contact you wish to assign to {{ object.name }}.</p>
<p>
<form action="{% url corporation-updatecontact object.pk %}" method="post" class="well">
<fieldset>
  {% include "formtools/formerror.html" %}
  {% include "formtools/formfield.html" with field=form.contact %}
  {% csrf_token %}
  <input type="submit" value="Assign" class="btn btn-inverse"/>
</fieldset>
</form>
<p>
{% endblock %}
