{% extends "base.html" %}

{% block head %}
<style type="text/css">
   span.negative {
       color: red;
    }
    span.positive {
       color: green;
    }
</style>
{% endblock %}

{% block content %}
{% load humanize %}
<h1>Corporations</h1>
{% if object_list %}
<p>
<table class="table table-bordered table-striped">
  <thead>
    <tr><th>Name</td><th>Contact</th><th>CEO</th><th>Tax Rate</th><th>Current Balance</th></tr>
  <thead>
  <tbody>
{% for obj in object_list %}
    <tr><td><a href="{% url corporation-detail obj.pk %}">{{ obj.name }}</a></td><td>{% if obj.contact %}{{ obj.contact.first_name }}{% else %}<a href="{% url corporation-updatecontact obj.pk %}">Assign Contact</a>{% endif %}</td><td>{{ obj.ceo }}</td><td>{{ obj.tax_rate }}%</td><td><span class="{% if obj.balance >= 0 %}positive{% else %}negative{% endif %}">{{ obj.balance|intcomma }} ISK</span></td></tr>
{% endfor %}
  <tr><th colspan="4">Total Outstanding</th><th><span class="{% if total >= 0 %}positive{% else %}negative{% endif %}"><b>{{ total|intcomma }} ISK</b></span></th></tr>
  </tbody>
</table>
</p>

{% if is_paginated %}
<div class="pagination">
  <ul>
    <li class="prev{% if not page_obj.has_previous %} disabled{% endif %}"><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous</a></li>
    {% for i in page_obj.page_range %}
      {% if not i %}
        <li><a href="#">...</a></li>
      {% else %}
        <li{% if i == page_obj.number %} class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="next{% if not page_obj.has_next %} disabled{% endif %}"><a href="{% if page_obj.has_next %}?page={{page_obj.next_page_number }}{% endif %}">Next</a>
  </ul>
</div>
{% endif %}

{% else %}
<p><small>No corporations are currently available to you{% if perms.add_key %}, consider <a href="{% url key-create %}">adding a API key</a>{% endif %}.</small></p>
{% endif %}
{% endblock %}
