{% extends "base.html" %}

{% block content %}
<h1>{% if object %}Update{% else %}Add{% endif %} EVE API Key</h1>

<p>
<form action="{% if object %}{% url key-update object.id %}{% else %}{% url key-create %}{% endif %}" method="post" class="well">

{% if not object %}
<p>Please fill in your EVE API key detail below, you can create a key by using the <a href="https://support.eveonline.com/api/" target="_blank">EVE API support portal</a>.</p>
{% endif %}

<fieldset>
  {% include "formtools/formerror.html" %}
  {% include "formtools/formfield.html" with field=form.keyid %}
  {% include "formtools/formfield.html" with field=form.vcode %}
  {% csrf_token %}
  <input type="submit" value="{% if object %}Update Key{% else %}Add Key{% endif %}" class="btn btn-inverse"/>
</fieldset>
</form>
<p>
{% endblock %}
